.asset-card-row {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  
  &.two-col {
    gap: 50px;
  }
} 
.two-col > .asset-card {
  width: calc(50% - 12px);
}
.three-col > .asset-card {
  width: calc(33% - 16px);
}
  
.asset-card {
  background: white;
  padding: 24px 24px 64px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px #BFCBD7;

  &:hover {
    text-decoration: none;
  }

  > p.asset-card__content {
    color: #3B3C3E;
    font-size: 16px;
    line-height: normal;
  }
}
.asset-card__title {
  background: url(https://raw.githubusercontent.com/slim-ma/xd-designsys-supernova/master/assets/_img/link_arrow.svg) no-repeat;
  background-size: 12px;
  background-position: top 6px right;
  display: inline-block;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 8px;
  padding-right: 22px;
}
  
.asset-card:after {
  background-image: url(https://raw.githubusercontent.com/slim-ma/xd-designsys-supernova/master/assets/_img/asset_icons.svg);
  content: "";
  height: 32px;
  display: block;
  position: absolute;
  bottom: 16px;
  left: 24px;
  width: 32px;
}

// icon adjustments
.asset-card {
  &.font:after {
    background-position-x: 99px ;
  }
  &.vue:after {
    background-position-x: -379px;
  } 
  &.font:after {
    background-position-x: -339px;
  }
  &.color:after {
    background-position-x: -296px;
  }
  &.css:after {
    background-position-x: -254px;
  }
  &.code:after {
    background-position-x: -212px;
  }
  &.api:after {
    background-position-x: -171px;
  }
  &.angular:after {
    background-position-x: -128px;
  }
  &.react:after {
    background-position-x: -85px;
  }
  &.html:after {
    background-position-x: -44px;
  }
  &.figma:after {
    background-position-x: -6px;
  }
}