.content-block {
  margin-top: 1rem;
}

/* ASSET LINK BANNERS */

.asset-link {
  background: var(--color-bright-blue);
  color: var(--color-light-text);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1.5rem 4.5rem;
  gap: 1rem;
  align-items: center;
  background-image: url("https://raw.githubusercontent.com/slim-ma/xd-designsys-supernova/master/assets/_img/asset_figma.svg");
  background-repeat: no-repeat;
  background-position: 24px 50%;
  &.css {
    background-image: url("https://raw.githubusercontent.com/slim-ma/xd-designsys-supernova/master/assets/_img/asset_css.svg");
  }
  &.adobe {
    background-image: url("https://studio-assets.supernova.io/design-systems/27071/88ac3722-a606-4435-ac10-b6f9ab3ebd2f.svg");
  }
  &.font {
    background-image: url("https://raw.githubusercontent.com/slim-ma/xd-designsys-supernova/master/assets/_img/asset_type.svg");
  }
  &.web {
    background-image: url('https://raw.githubusercontent.com/slim-ma/xd-designsys-supernova/master/assets/_img/asset_link.svg');

    & > .asset-link__button {
      background-image: url('https://raw.githubusercontent.com/slim-ma/xd-designsys-supernova/master/assets/_img/asset_jumpSM.svg');
      background-size: 14px;
    }
  }
}
.asset-link__content {
  margin-bottom: 0;
}
.asset-link__title {
  color: var(--color-light-text);
  margin-bottom: 0;
}
.asset-link__body {
  color: var(--color-light-text);
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.asset-link__button {
  background: var(--color-moodys-blue);
  background-image: url(https://raw.githubusercontent.com/slim-ma/xd-designsys-supernova/master/assets/_img/icon_download.svg);
  background-repeat: no-repeat;
  background-position: 22px;
  border-radius: 20px;
  color: var(--color-light-text);
  height: 40px;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1.375rem 0.5rem 2.875rem;
  &:hover {
    text-decoration: none;
    color: var(--color-bright-blue);
  }
}

/*

/* # CARD
.tab-pane > .card-container {
  max-width: none;
  margin: 0 calc(-50vw + 565px);
  background-color: #F1F2F2;

  &> .card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
    max-width: var(--contentMaxWidth);
    width: 100%;
  }
}

.card-wrapper > .card.with-image {
  background-repeat: no-repeat;
}

.card:hover .card--title {
  opacity: 1;
}

.card-container--one-card {
  & .card {
    border-radius: 24px;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 76px 80px;
  }
  & .with-image {
    padding: 360px 56px 24px;
  }
  & .vertical {
    .card--body {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .card--action-text {
    font-size: 18px;
    line-height: 26px;
    margin-top: 2px;
    margin-bottom: -28px;
  }
  & .horizontal {
    padding: 75px calc(50% + 80px) 75px 80px;
    background-position: top right;
    background-size: 50%;
  }
}

.card-container--two-card {
  .card--action-text {
    font-size: 18px;
    line-height: 26px;
    margin-top: 2px;
    margin-bottom: -28px;
  }
  &> .card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
  
    &> .card {
      border: 0;
      border-radius: 24px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      display: block;
      padding: 75px 56px;
      width: calc(50% - 12px);
      &:hover {
        padding: 63px 56px;
      }
      .card__content > .card--body {
        line-height: 1.2;
      }
    }
    &>
     .with-image {
      padding: 210px 50px 26px;
      background-size: 553px;
      background-position: top left;
      &:hover {
        padding: 200px 50px 36px;
      }
    }
  }
} 

.card--action-text {
  opacity: 0;
  font-size: 24px;
  font-weight: 900;
  background: var(--gradient-blue-green, linear-gradient(139deg, #0D82B1 0%, #2DD3AF 100%));
  background-clip: text;
  margin-top: 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-container--one-card .vertical.with-image .card--action-text {
  margin-bottom: -30px;
}

.card__content {
  color: #585A5C;
  &> p:last-child {
    margin-bottom: 0;
  }
}

.card--title {
  font-size: 24px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 0.24px;
  margin-bottom: 6px;
}

.card--body {
  font-size: 24px;
  letter-spacing: 0.24px;
  line-height: 1.2;
  margin-bottom: 0px;
}

.card-bg {
  background-size: cover;
  background-position: left center;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

/*
 * HOVER styles


.card:hover .card--action-text {
  opacity: 1;
}
.card{
  &:hover {
    text-decoration: none;
  }
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.card:hover:after {
  opacity: 1;
}

.card-container--one-card {
  .card:hover {
    .card--action-text {
      margin-top: 2px;
      margin-bottom: -28px;
    }
  }
  .vertical:hover {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .horizontal:hover {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.card-container--one-card .vertical.with-image:hover {
  padding-top: 348px;
  padding-bottom: 12px;
  .card--action-text {
    margin-bottom: 0;
  }
  .card--title {
    margin-bottom: 0;
  }
}

/* # CARD BORDER --ANIMATION #
// STATIC Properties

// define property
@property --border-gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
// define animation
@keyframes rotate-border-cone {
  0% {
    --border-gradient-angle: 0deg
  } to {
    --border-gradient-angle: 360deg
  }
}
.card:after {
  // animation properties:
  --border-gradient-angle: 0deg;
  animation-name: rotate-border-cone;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
  transition: all linear .25s;
  // dimensional properties:
  content: "";
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  // "border" properties
  background: conic-gradient(from var(--border-gradient-angle) at 50% 50%, #0d82b1 0%, #2dd3af 47%, #0D6183FF 91%, #0d82b1 100%) border-box;
  border-radius: 22px;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) padding-box,linear-gradient(#fff 0 0);
  mask-composite: exclude;
  border:solid rgba(0,0,0,0) 6px;
}
.card-container--one-card .card:after {
  border-radius: 18px;
  height: 101%;
}

/* ### CARD TEXT ANIMATION ###
.card, .card__content, .card--action-text, .card--title {
  transition: 1s;
}

*/
