/*
 * HOMEPAGE
 */

.is-homepage {
  .container-title {
    display: none;
  }
  a.copy-anchor {
    display: none;
  }
  .page-main-content {
    padding-top: 0;
    max-width: 741px;
    margin: 0 auto;
    & > h2:first-of-type {
      margin-top: 110px;
    }
  }
  .site {
    margin-top: -96px;
  }
  .content-block--tabs:first-of-type {
    background: #005EFF;
    width: 100vw;
    margin: 0 calc(-50vw + 370px);
    padding-top: 320px;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 980px;
    background-image: url('https://studio-assets.supernova.io/design-systems/27071/cfac6f23-39bc-4c5c-8ebc-6d36ab881ed5.svg');
    background-repeat: no-repeat;
    background-position: top right;

    &> .row {
      display: block;
      margin: 0 auto;
      max-width: 1128px;
    }
    .hero {
      height: auto;
      padding: 0;
      max-width: 40%;
      color: white;
      font-size: 1.25rem;
      line-height: 1.875rem;
      h5 {
        font-size: 0.875rem;
        margin-bottom: 0.75rem;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1rem;
        color: white;
      }
      h1 {
        font-size: 3.75rem;
        font-family: Financier;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 1.5rem;
        color: white;
      }
      p {
        margin-bottom: 1.5rem;
      }
      a {
        background: #0A1264;
        color: white;
        font-size: 1rem;
        padding: 0.5rem 1.375rem;
        border-radius: 2rem;
      }
    }
  }

  // TWIN BLOCKS
  .content-block--tabs:nth-of-type(2) {
    width: 100vw;
    margin: 0 calc(-50vw + 370px);
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
    margin-top: -200px;
    
    .row{
      gap: 2rem;
      flex-direction: row;
      justify-content: center;
    }
  }
}

.left-hero-col, .right-hero-col {
  align-items: center;
  border: 1px solid var(--color-moodys-blue);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: 776px;
  max-width: 741px;
  text-align: center;
  
  .heading {
    font-size: 3rem; 
    font-weight: 400;
  }
  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .link-wrapper > .primary {
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1.375rem;
  }
}

.left-hero-col {
  background-color: white;
  background-image: url("https://studio-assets.supernova.io/design-systems/27071/c2e093ca-02b3-4d4d-8e61-a206b31d5cb4.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: flex-start;
  padding-top: 110px;

  & > * {
    max-width: 520px;
    margin: 0;
  }
  
  a {
    background: #0A1264;
    color: white;
  }
}

.right-hero-col {
  justify-content: flex-end;
  padding-bottom: 75px;
  background-color: #0A1264;
  background-image: url("https://studio-assets.supernova.io/design-systems/27071/5e72472d-bd5a-438b-b73a-a03f9ac8d4ec.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  color: white;
  
  h2{
    color: white;
  }

  & > * {
    max-width: 520px;
    margin: 0;
  }
  
  a {
      background: white;
      color: #0A1264;
  }
}
  
/*
 * CONTACT US
 */

.contact.us > .heading--level-5:first-of-type {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  
  margin-top: -8rem;
  margin-bottom: 4rem;
}
  
.pid-8824995 .container-title > .slider {
  padding-bottom: 6rem;
}
  