:root {
  --mainWidth: 1128px;

  --color-moodys-blue: #0A1264;
  --color-bright-blue: #005EFF;
}

/* THEME OVERRIDES FROM SETTINGS:
:root {
  --contentFontBase: 32px;
  --sideNavWidth: 0;
  --logoWrapperWidth: auto;
  --pageTitleFontFamily: "Bliss Pro", "Helvetica", "arial", sans-serif;
  --headingFontFamily: "Bliss Pro", "Helvetica", "arial", sans-serif;
  --fontFamily: "Bliss Pro", "Helvetica", "arial", sans-serif;
  --pageTitleFontSize: 56px;
  --pageTitleFontWeight: 900;
  --headingFontWeight: 900;
  --contentFontBase: 16px;
  --contentBlockGap: 48px;
  --contentBodyLineHeight: 24px;
  --colorBorderProminent: #002E5D;
  --colorAccentAlt: #002E5D;
  --pageHeaderInk: #0028A0;
  --pageHeaderPaddingTop: 48px;
  --pageHeaderPaddingBottom: 48px;
  --headingLevel1Size: 56px;
  --pageDescriptionInk: #75787B;
  --tabsGap: 80px;
}


/*

:root {
  --navBorderWidth: 2px;
  --colorGray200: #ddddde;
  --colorBlue600: #001E78;
  // --marginFullWidth: 0 calc(-50vw + 565px);
}

*/
