/* PAGE SECTIONS */
/* -- home page hero */
.is-homepage .container-title {
  background: url(https://studio-assets.supernova.io/design-systems/27071/010dabc8-2824-4ce7-b66d-c8319175e5c4.svg) no-repeat bottom 80px center, url(https://raw.githubusercontent.com/slim-ma/xd-designsys-supernova/master/assets/_img/bg_waves.jpg) no-repeat center;
  background-size: 48px, cover;
  height: 810px;
}
  
.masthead__arrow {
  position: relative;
  margin-bottom: 0;
  &> img {
   position: absolute;
    top: -177px;
    left: 50%;
    margin-left: -24px;
  }
}
  