/* # VARIABLES (new and permanent) */
:root {
  --bgImageHomeSection: radial-gradient(circle, rgba(241,242,242,1) 0%, rgba(241,242,242,1) 20%, rgba(255,255,255,1) 85%);
  --siteMaxWidth: 1130px;
  --contentMaxWidth: 760px;
}
// REM = 16px

/* RESETS */
.container-title {
  border: 0;
}
ul.navbar-nav li:first-of-type {
  display: none;
}

/* LAYOUT */
// PAGE HERO
.container-title > .slider {
  gap: 24px;
  .subtitle {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 0;
  }
}
// FOOTER
.footer {
  padding: 200px 0;
}
.footer--text {
  margin: 0 auto;
  width: 100%;
  max-width: var(--contentMaxWidth);
  font-size: 1rem;
  font-weight: 400;
}

// PAGE CONTENT
.content-container {
  padding-top: 5rem;
  > * {
    width: 100%;
    max-width: var(--contentMaxWidth);
    margin: 0 auto;
  }
  > p {
    color: var(--pageDescriptionInk);
    font-size: 32px;
    margin-top: 24px;
    line-height: 40px;
  }
}

/* 
 * CUSTOM BLOCK DEFAULTS:
 */
.full-width {
  max-width: none;
  > .card-wrapper {
    max-width: var(--contentMaxWidth);
    margin: 0 auto;
    width: 100%;
  }
}
a.primary {
  background: #002E5D;
  border-radius: 1.6rem;
  color: white;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 1rem 1.5rem;

  display: inline-block;
  width: fit-content;

  &:hover {
    --border-gradient-angle: 0deg;
    animation-name: rotate-border-cone;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
    background: conic-gradient(from var(--border-gradient-angle) at 50% 50%, #0d82b1 0%, #0D5697FF 50%, #0d82b1 100%) border-box;
    transition: all linear .25s;
    text-decoration: none;
  }
}

.container-tabs {
  margin-top: 40px;
  margin-bottom: 64px;

  > .tabbed-navigation {
    align-items: start;
    display: block;
    max-width: var(--contentMaxWidth);
    margin: 0 auto;
    border-bottom: var(--navBorderWidth) solid var(--colorGray200);
  }
}
.nav-tabs {
  gap: var(--tabsGap);
  border-bottom: 0;
}


/*
 * # ELEMENTS
 */

.heading--level-1 {
  color: var(--pageHeaderInk);
  font-size: var(--headingLevel1Size);
}

.content-container > hr {
  margin: 64px auto;
  border-color: #ddddde;
}
  
.content-block--callout {
  margin-top: 24px;
  .content {
    font-size: 18px;
    line-height: 24px;
  }
}
  

/*
 *  # XD SECTIONS
 */
.xd-section {
  padding: 140px var(--contentContainerPadding) 75px;

  &.full-width {
    padding: 80px var(--contentContainerPadding);
    margin-top: 48px;
    margin-bottom: 80px;

    .heading--level-2 {
      font-size: 36px;
      font-weight: 800;
    }
    p {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 0;
    }
  }
}
.xd-section__content {
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  width: 100%;
  > .asset-card-row {
    margin-top: 48px;
  }
  > hr {
    margin-top: 80px;
    margin-bottom: 64px;
    border-top: 2px #ddddde solid;
    }    
}

/* SPECIFIC PAGES */
/* -- home page */
.is-homepage {
  .container-title {
    background: url(https://studio-assets.supernova.io/design-systems/27071/010dabc8-2824-4ce7-b66d-c8319175e5c4.svg) no-repeat bottom 80px center, url(https://raw.githubusercontent.com/slim-ma/xd-designsys-supernova/master/assets/_img/bg_waves.jpg) no-repeat center;
    background-size: 48px, cover;
    height: 810px;

    > .slider {
      .page-title {
        font-size: 96px;
      }
      .subtitle {
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: 0.32px;
      }
    }
  }

  main > .xd-section {
   padding: 140px 0 75px;
  }
}
  
.masthead__arrow {
  position: relative;
  margin-bottom: 0;
  &> img {
   position: absolute;
    top: -177px;
    left: 50%;
    margin-left: -24px;
  }
}
